@font-face {
  font-family: 'PixelAE';
  src: url('./pixelfonts/pixelae-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelAE';
  src: url('./pixelfonts/pixelae-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}